<li class="nav-item">
  <%= link_to 'Prijava', new_user_session_path, "nav-link #{ display_active_class(new_user_session_path) }" %>
</li>
<li class="nav-item">
  <%= link_to 'Registracija', new_user_registration_path, "nav-link #{ display_active_class(new_user_registration_path) }" %>
</li>